body {
    margin: 0 auto;
}

.navbar {
    top: 0;
    left: 0;
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(2, 10, 48);
    margin-bottom: 30px;
}

.Links {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 10px 30px;
    display: flex;
}

.LinkTag {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link {
    text-decoration: none;
    color: rgb(255, 162, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 40px 20px;
    /* margin-top: 20px!important; */
    position: relative;
    top: 11px;
}

.Loglink{
    background-color: brown;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    margin: 10px 30px;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 5px;
}